
.service__item{
    padding: 20px;
    /* background: #FFE5D9; */
    display: flex;
    align-items: center;
    column-gap: .7rem;
    border-radius: 5px;
    cursor: pointer;
}
.service__item span {
    font-size: 0.2rem;
    background: #1d3557;
    color: white;
    padding: 13px;
    border-radius: 50%;
    font-weight: 400 !important;
}
.service__item h3{
    color: #1d3557;
    font-size: 1.1rem;
    font-weight: 700;
}
.service__item p{
    font-size: 0.7rem;
    margin-top: 5px;
    color: #222;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    word-spacing: -0.05em;
    /* word-break: break-all; */
    height: 40px;
}