.dashboard_header {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%; 
  justify-content: space-between;
}

.box,
.revenue__box,
.orders__box,
.products__box,
.users__box {
  display: inline-flex;
  height: 70px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 0.3s ease-in-out;
}

.box:hover,
.revenue__box:hover,
.orders__box:hover,
.products__box:hover,
.users__box:hover {
  transform: translateY(-4px);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  transition: 0.3s ease-in-out;
}

.box h5,
.revenue__box h5,
.orders__box h5,
.products__box h5,
.users__box h5 {
  margin: 0 0 8px;
  font-size: 18px;
  font-weight: 600;
  cursor: default;
}

.box span,
.revenue__box span,
.orders__box span,
.products__box span,
.users__box span {
  font-size: 24px;
  font-weight: 700;
  color: #3f51b5;
  cursor: default;
} 


.dashboard {
  width: 100%;
  min-height: 100vh;
  /* background-color: #000; */
}

.dashboard_chart {
  /* background-color: #3f51b5; */
  padding-top: 40px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.line_chart {
  width: 70%;
}

.pie_chart {
  display: flex;
  align-items: center;
  width: 28%;
  height: 100%;
}

.new_user {
  width: 24%;
  height: 100%;
  background-color: #fff; 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content:left;
  padding: 10px;
} 

.new_order {
  width: 73%;
  min-width: 70%;
  overflow: scroll;
  height: 100%;
  padding: 10px 0;
  justify-content: flex-start;
}

.new_user ul {
  width: 90%;  
}

.new_user li {
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  margin: 15px 0;
}

.new_user li .admin__users {
  width: 35px;
  height: 35px;
  margin-right: 15px;
}

.new_user li span {
  font-size: 17px;
  font-weight: 500;
  color: #000;
}

@media (max-width: 1200px) {
  .dashboard_header {
    grid-template-columns: 49% 49%;
    gap: 10px;
  }
}


@media (max-width: 1000px) {
  .dashboard_header {
    grid-template-columns: 49% 49%;
    gap: 10px;
  }

  .dashboard_chart.table_2 {
    display: grid;
    grid-template-columns: 100%;
    gap: 40px 0;
  }

  .dashboard_chart.table_2 .new_user {
    width: 95%;
  }
  .dashboard_chart.table_2 .new_order {
    width: 100%;
    /* margin: 0 auto; */
  }
}

@media (max-width: 600px) {
  .dashboard_header {
    grid-template-columns: 100%;
    gap: 10px;
  }
}